{% extends "home.html" %} {% block title %}SECM Fitter{% endblock %} 
{% block content %}
    <h1 align="center">SECM Fitter</h1>
    <div class="graph-results" id="graph-results">
      <div class="fit-plot-results" id="fit-plot-results">
        <canvas id="myChart" width="900" height="600">
        </canvas>   
        <form method="POST" class="fit-data" id="fit-data">
          <button type="submit" class="btn btn-primary">Fit Data</button>

        </form>
      
      </div>
    </div>

{% endblock %}

    